.subscribe{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 20vh;
    gap: 9rem;
    box-shadow: 0px 5px 32px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    margin-top: 2rem;
    background-color: #f9f9f9;
}
.left h2{
    font-size: 25px;
}
.left, .right{
    padding: 40px;
}
.right input{
    width: 24rem;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #ccc;
}
.subscribe .right button{
    background: blue;
    padding: 15px;
    width: 8rem;
    margin-left: 10px;
    border-radius: 30px;
    border: none;
}

.footer{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
}
.footer_links ul{
    display: flex;
    gap: 20px;
}
.footer_links ul li{
    font-size: 18px;
    font-weight: 600;
}
.footer_name h2{
    font-size: 30px;
}
.footer hr{
    width: 80%;
    margin-top: 20px;
    color: #555;
    margin-left: 7rem;
}
.copy{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #666;
    margin-top: 2rem;
}